/* Aseguramos que el div que contiene la imagen ocupe toda la pantalla */
.page-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw;  /* Ocupa todo el ancho de la ventana */
  background-image: url('https://th.bing.com/th/id/R.3f783eee640c36bba7e9b13b00178a50?rik=FSZPtD1b9JJYjA&pid=ImgRaw&r=0');
  background-size: cover; /* La imagen cubre toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
  position: relative;
  filter: brightness(70%); /* Oscurecer ligeramente la imagen para mejor contraste */
}

/* Capa de superposición para mejorar la legibilidad del texto */
.page-home::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Fondo oscuro semitransparente */
  z-index: -1; /* Aseguramos que la capa esté detrás del contenido */
}

/* Estilo para el contenedor de texto */
.page-home-content {
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1); /* Fondo blanco semitransparente */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
  max-width: 75%; /* Limitar el tamaño del contenedor */
}

/* Estilos del título */
.page-home-content h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: white; /* Gris oscuro para un toque elegante */
  letter-spacing: 1.5px;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); /* Sombra suave */
}

/* Estilo del párrafo */
.page-home-content p {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 1.8rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/* Estilos del botón */
.page-home-content button {
  background-color: #2d2d2d; /* Gris oscuro */
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 30px; /* Bordes redondeados para un diseño más limpio */
  font-size: 1.2rem;
  font-weight: 400;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.page-home-content button:hover {
  background-color: #ff7f50; /* Naranja suave */
  transform: translateY(-3px); /* Efecto sutil de elevación */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.page-home-content button:active {
  transform: translateY(1px); /* Efecto al hacer clic */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
